.portfolio {
  margin-top: 101px;
}

.portfolio__title {
  color: #8b8b8b;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.portfolio__list {
  margin: 50px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
  background: url(./../../images/arrow.svg) no-repeat 1116px 38px;
}

.portfolio__link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
}

.portfolio__item:first-child {
  background-position: 1116px 18px;
}

.portfolio__item:not(:first-child) {
  padding-top: 20px;
}
@media screen and (max-width: 1279px) {
  .portfolio__item {
    background: url(./../../images/arrow.svg) no-repeat 99% 38px;
  }
  .portfolio__item:first-child {
    background-position: 99% 18px;
  }
}
@media screen and (max-width: 1024px) {
  .portfolio {
    margin-top: 90px;
  }
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio {
    margin-top: 70px;
  }
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }
  .portfolio__list {
    margin-top: 40px;
  }
  .portfolio__item {
    background-size: 10px;
    background-position: 99% 27px;
  }
  .portfolio__item:first-child {
    background-position: 99% 7px;
  }
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}
