.portfolio {
  margin-top: 101px;
}

.portfolio__title {
  color: #8B8B8B;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;

}

.portfolio__list {
  margin: 50px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__item {
  /* padding-top: 20px; */
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
  background: url(./../../images/arrow.svg) no-repeat 1116px 38px;
}
.portfolio__link{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
}
.portfolio__item:first-child {
  background-position: 1116px 18px;
}

.portfolio__item:not(:first-child) {
  padding-top: 20px;
}
