.promo {
  padding: 20px 40px 0px 40px;
}

.promo__container {
  background: #272727;
  width: 100%;
  max-width: 1200px;
  min-height: 493px;
  border-radius: 10px;
}

.promo__title {
  color: #ffffff;
  margin: auto;
  max-width: 730px;
  padding-top: 160px;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .promo {
    padding: 20px 20px 0px 20px;
  }
  .promo__container {
    min-height: 834px;
  }
  .promo__title {
    padding: 350px 24px 0 24px;
    font-size: 40px;
    line-height: 52px;
  }
}
@media screen and (max-width: 767px) {
  .promo {
    padding: 14px 14px 0px 14px;
  }
  .promo__container {
    min-height: 586px;
  }
  .promo__title {
    padding: 220px 0 0 0;
    font-size: 29px;
    font-weight: 400;
    line-height: 37px;
  }
}
