.about-project {
  max-width: calc(1280px - 140px);
  margin: auto;
  min-height: 608px;
}

.about-project__title {
  border-bottom: 1px solid;
  padding: 110px 0px 23px 0px;
  margin: 0;
  width: 100%;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
}

.about-project__columns {
  display: flex;
}

.about-project__column {
  max-width: 550px;
}
.about-project__column:not(:first-child) {
  margin-left: 50px;
}

.about-project__columns-title {
  margin: 70px 0px 0px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__columns-paragraph {
  margin: 26px 0px 0px;
  color: #ffffff;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.about-project__bar {
  padding-top: 110px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 228px auto;
  grid-template-rows: auto auto;
}

.about-project__bar-back-end {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3ddc84;
  min-height: 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.about-project__bar-back-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303030;
  min-height: 36px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.about-project__bar-paragraph {
  margin: 14px 0px 0px 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #8b8b8b;
}
@media screen and (max-width: 1024px) {
  .about-project {
    margin: 0 50px 0 50px;
    min-height: 585px;
  }
  .about-project__title {
    padding-top: 90px;
  }
  .about-project__column:not(:first-child) {
    margin-left: 35px;
  }
  .about-project__columns-paragraph {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
  .about-project__bar {
    padding-top: 93px;
    grid-template-columns: 140px auto;
  }
}
@media screen and (max-width: 767px) {
  .about-project {
    margin: 0 18px 0 18px;
    min-height: 641px;
  }
  .about-project__title {
    padding-top: 70px;
    padding-bottom: 27px;
    font-size: 18px;
    line-height: 22px;
  }
  .about-project__columns {
    margin-top: 60px;
    flex-direction: column;
  }
  .about-project__columns-title {
    margin-top: 0;
    font-size: 18px;
    line-height: 22px;
  }
  .about-project__column:not(:first-child) {
    margin: 56px 0 0 0;
  }
  .about-project__columns-paragraph {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }
  .about-project__bar {
    padding-top: 60px;
    grid-template-columns: 100px auto;
  }
  .about-project__bar-back-end {
    font-size: 11px;
    line-height: 13px;
  }
  .about-project__bar-back-front {
    font-size: 11px;
    line-height: 13px;
  }
  .about-project__bar-paragraph {
    font-size: 11px;
    line-height: 13px;
    margin-top: 10px;
  }
}
