.footer {
  max-width: calc(1280px - 140px);
  margin: auto;
  min-height: 172px;
}

.footer__text {
  margin: 0;
  padding: 79px 0 0 0;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
  color: #8b8b8b;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  padding: 20px 0 0 0;
  margin: 0;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.footer__list {
  display: flex;
  list-style-type: none;
  padding: 20px 0 0 0;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.footer__item:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 1024px) {
  .footer {
    margin: 0 30px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 0 10px 0 10px;
  }
  .footer__item:not(:first-child) {
    margin-left: 0;
    padding-top: 8px;
  }
  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__copyright {
    padding: 30px 0 20px 0;
    color: #8b8b8b;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__list {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
