.techs {
  background: #272727;
  min-height: 625px;
}

.techs__container {
  margin: auto;
  max-width: calc(1280px - 140px);
}

.techs__title {
  border-bottom: 1px solid;
  padding: 100px 0px 23px 0px;
  margin: 0;
  width: 100%;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
}

.techs__subtitle {
  margin: 90px 0px 0px;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;


}

.techs__paragraph {
  padding-top: 26px;
  color: #FFFFFF;
  margin: auto;
  max-width: 460px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;

}

.techs__list {
  list-style: none;
  margin: 100px 0px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.techs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303030;
  color: white;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;


}

.techs__item:not(:first-child) {
  margin-left: 10px;
}
