.navtab-list {
  margin: 0;
  padding: 151px 0px 0px 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navtab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303030;
  min-width: 96px;
  min-height: 36px;
  border-radius: 10px;
}

.navtab-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.navtab-item:not(:first-child) {
  margin-left: 10px;
}
